Makefile
configure
autom4te.cache
config.h
config.log
config.status
y.tab.h
version_options.h
version_src*.h
keywords.c
*.o
moo
\#*\#
.\#*
backups
removed_code
a.out
ctags
configure
xcode
Makefile.in.bak
keywords.cc
build
